*, html, body {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.nav {
  height: 50px;
  background-color: #404040;
  color: #81b441;
  z-index: 2;
  padding-top: 10px;
  padding-left: 25px;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

.menu {
  position: absolute;
  z-index: 1;
  background-color: #ddd;
  width: 300px;
  height: 96.5%;
  opacity: 0.75;
  padding-top: 25px;
  left: 0px;
  transition: all 1.5s;
}
.menu.inactive {
  left: -300px;
}

form {
  margin: 15px 0px;
}

input {
  height: 35px;
  width: 90%;
  padding: 0 5px;
  border: 3px solid grey;
  font-size: 20px;
}

input:hover {
  border: 5px solid #404040;
}

.menu li {
  border-bottom: 2px solid white;
  padding-top: 15px;
  padding-left: 5px;
  color: #81b441;
}
.menu li:hover {
  padding-left: 10px;
}

/* Hamburger Menu */
.menu label {
  display: block;
  position: absolute;
  top: 8px;
  right: -70px;
  width: 45px;
  height: 40px;
  background-color: #555;
  text-align: center;
}

.menu label div {
  width: 33px;
  height: 6px;
  background-color: white;
  margin: 5px 0px 0px 5px;

}


.menu form input {
  margin-top: 20px;
}
.info {
  min-height: 100px;
  width: 200px;
}
.info h3 {
  font-size: 15px;
  font-style: bold;
  color: #404040;
}

/* responsive design*/
/*Hide nav in mobile view*/

@media screen and (max-width: 600px) {
  .nav {
    visibility: hidden;
    display: none;
  }
}
